# Dependências do Node.js
node_modules/

# Logs de erro do npm
npm-debug.log
npm-debug.log.*

# Arquivos de sistema operacional (Mac/Linux/Windows)
.DS_Store
Thumbs.db
*~

# Pastas de IDEs (VSCode, etc)
.vscode/
.idea/

# IMPORTANTE: Nós NÃO vamos ignorar a pasta `dist/` ou `public/` 
# pois elas contêm a extensão compilada e os modelos que os usuários precisam para rodar direto do repositório.

# Ambientes Virtuais Python e ML
ai_env/
ai_venv/
venv/
env/
__pycache__/
*.pt
*.pth

# Banco de Dados de Treinamento
dataset/
